{% load static %}
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">JobFinder</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
            <a href="{% url 'jobs:job_list' %}" class="nav-item nav-link">Jobs</a>
            <a href="{% url 'jobs:jobs_category' %}" class="nav-item nav-link">Jobs Category</a>
            <a href="{% url 'job_seeker:job_seeker_list' %}" class="nav-item nav-link">Job Seekrs</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>


        </div>
        {% if request.user.is_authenticated %}
         <a href="{% url 'dashboard:dashboard' %}" class="btn btn-info rounded-0 py-4 px-lg-5 d-none d-lg-block text-white">Dashboard<i class="fa fa-arrow-right ms-3"></i></a>
<a href="{% url 'logout' %}" class="btn btn-outline-danger rounded-0 py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-sign-out-alt ms-3"></i></a>
        {% else %}
         <a href="{% url 'login' %}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Login<i class="fa fa-sign-in-alt ms-3"></i></a>
        {% endif %}
    </div>
</nav>
<!-- Navbar End -->