{% extends 'common/base.html' %}
{% load static %}
{% block title %} Social Media Services {% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container text-center">
        <h1 class="text-danger mb-4 wow fadeInUp" data-wow-delay="0.1s">Social Media Services Unavailable</h1>
        <p class="lead mb-5 wow fadeInUp" data-wow-delay="0.2s">
            Our social media services are currently <strong>down</strong> for maintenance. We apologize for the inconvenience and are working hard to bring them back online.
        </p>
      
    
    </div>
</div>
{% endblock %}
