{% extends "common/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container py-5">
    <div class="card p-4 shadow">
        <h3>Update Application for {{ application.job.title }}</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.status.label_tag }}<br>
                {{ form.status|add_class:"form-select" }}
            </div>
            <div class="mb-3">
                {{ form.message.label_tag }}<br>
                {{ form.message|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}
